@font-face {
  font-family: Spartan;
  src: url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
}

/* Variables */
:root {
  --Primary-Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Primary-Very-Dark-Gray: hsl(0, 0%, 27%);
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: Spartan, sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* HEADER */
.header {
  height: 11rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 4rem 2.5rem;
  z-index: 5;
}
.header .header__group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__button {
  background-color: transparent;
  border: none;
  width: 1.5rem;
}
.header .header__button--close {
  margin-left: 3rem;
}
.header .header__icon {
  width: 2rem;
  margin: 0 auto;
}
.header .header__logo-box {
  margin: 0 auto;
}
.header .header__logo-box .header__logo {
  height: 1.5rem;
}
.header .header__nav {
  width: 100%;
  height: 100%;
  background-color: var(--White);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms ease-out;
}
.header .haeder__nav-list {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-left: 3rem;
}
.header .header__nav-item a {
  color: var(--Black);
  font-weight: 600;
}
/* SHOP */
.shop {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.carousel {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}
.carousel__item {
  flex: 0 0 100%;
  transition: all 500ms ease-out;
}
.carousel .carousel__img {
  height: 45vh;
  width: 100vw;
  object-fit: cover;
}
.carousel .carousel__shop {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.carousel .shop__heading {
  color: var(--Black);
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.carousel .shop__text {
  color: var(--Primary-Dark-Gray);
  line-height: 140%;
}
.carousel .shop__button {
  color: var(--Black);
  margin-top: 4rem;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.carousel .shop__button img {
  margin-left: 2rem;
}
.carousel__button {
  position: absolute;
  right: 0;
  top: 45%;
  transform: translateY(-100%);
  border-style: none;
  background-color: var(--Black);
  padding: 1.5rem 2rem;
}
.carousel__button img {
  height: 2rem;
}
.carousel__button.carousel__button--left {
  transform: translate(-100%, -100%);
}
.about {
  padding: 5rem 3rem;
}
.about .about__text {
  color: var(--Primary-Dark-Gray);
  line-height: 140%;
}
.about .about__heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--Black);
  text-transform: uppercase;
  letter-spacing: 4px;
}
.attribution {
  margin: 2rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.image img {
  width: 100%;
}
