/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

/* VARIABLES */
:root {
  --Primary-Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Primary-Very-Dark-Gray: hsl(0, 0%, 27%);
}

/* GENERAL SETTINGS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: Spartan, sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Media queries GENERAL SITTINGS*/
@media screen and (min-width: 640px) {
  html {
    font-size: 75%;
  }
  body {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
  }
}

/* HEADER SECTION */
.header {
  height: 11rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 4rem 2.5rem;
  z-index: 5;
}
.header .header__group {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hamburger and close icons */
.header .header__button {
  background-color: transparent;
  border: none;
  width: 1.5rem;
}
.header .header__icon {
  width: 2rem;
  margin: 0 auto;
}
.header .header__button--close {
  margin-left: 3rem;
}
/* logo */
.header .header__logo-box {
  margin: 0 auto;
}
.header .header__logo-box .header__logo {
  height: 1.5rem;
}
/* navigation */
.header .header__nav {
  width: 100%;
  height: 100%;
  background-color: var(--White);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms ease-out;
}
.header .haeder__nav-list {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-left: 3rem;
}
.header .header__nav-item a {
  color: var(--Black);
  font-weight: 600;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

/* Media queries HEADER SECTION */
@media screen and (min-width: 640px) {
  .header .haeder__nav-list {
    margin-left: 10rem;
  }
  .header .header__button--hamburger img {
    width: 2.3rem;
  }
}

@media screen and (min-width: 1024px) {
  /* hamburger and close buttons */
  .header__button {
    display: none;
  }
  /* logo */
  .header__logo-box {
    position: absolute;
    left: 5rem;
    top: 5rem;
  }
  /* navigation */
  .header .header__nav {
    opacity: 1;
    transform: translateY(0);
    background-color: transparent;
  }
  .header .haeder__nav-list {
    justify-content: flex-start;
    margin-left: 16rem;
  }
  .header .header__nav-item a {
    color: var(--White);
    margin-right: 3rem;
  }
}

/* SHOP SECTION */
.shop {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.carousel {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
/* slide */
.carousel__item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  transition: all 500ms ease-out;
  overflow: hidden;
}
/* picture */
.carousel .carousel__img img {
  height: 45vh;
  min-width: 100%;
  object-fit: cover;
}
/* content */
.carousel .carousel__shop {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.carousel .shop__heading {
  color: var(--Black);
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: 600;
}
.carousel .shop__text {
  color: var(--Primary-Dark-Gray);
  line-height: 150%;
}
.carousel .shop__button {
  color: var(--Black);
  margin-top: 4rem;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.carousel .shop__button img {
  margin-left: 2rem;
}
/* carousel slide buttons */
.carousel__button {
  position: absolute;
  right: 0;
  top: 45vh;
  transform: translateY(-100%);
  border-style: none;
  background-color: var(--Black);
  padding: 1.5rem 2rem;
}
.carousel__button img {
  height: 2rem;
}
.carousel__button.carousel__button--left {
  transform: translate(-100%, -100%);
}

/* Media queries SHOP SECTION */
@media screen and (max-width: 365px) and (max-height: 660px) {
  .carousel .carousel__shop {
    padding: 1.5rem;
  }
  .carousel .shop__heading {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 640px) {
  .carousel .carousel__img img {
    height: 60vh;
  }
  .carousel__button {
    top: 60vh;
  }
  .carousel .carousel__shop {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  /* changing layout */
  main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  /* carousel slide */
  .shop {
    height: 66.6666vh;
  }
  .carousel__item {
    flex-direction: row;
  }
  .carousel .carousel__img {
    overflow: hidden;
    object-fit: cover;
    width: 60%;
  }
  .carousel .carousel__img img {
    min-height: 100%;
  }
  .carousel .carousel__shop {
    flex: 1 1 40%;
  }
  .carousel__button {
    right: 40%;
    top: unset;
    bottom: 0;
    transform: translateX(200%);
  }
  .carousel__button.carousel__button--left {
    transform: translateX(100%);
  }
  .carousel .carousel__shop {
    padding: 6rem;
  }
  .carousel__button {
    padding: 2rem 2.4rem;
  }
}

/* ABOUT SECTION */
.about {
  padding: 5rem 3rem;
}
.about .about__text {
  color: var(--Primary-Dark-Gray);
  line-height: 140%;
  text-align: justify;
}
.about .about__heading {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--Black);
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Media queries ABOUT SECTION */
@media screen and (max-width: 365px) and (max-height: 660px) {
  .about {
    padding: 3rem 1.5rem;
  }
}

@media screen and (min-width: 640px) {
  .about {
    padding: 5rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about .about__heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

/* IMAGES SECTIONS */
.image img {
  width: 100%;
}

/* FOOTER SECTION */
.attribution {
  margin: 2rem;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries IMAGES and FOOTER */
@media screen and (min-width: 1024px) {
  .image {
    width: 30%;
  }
  .image img {
    height: 100%;
    object-fit: cover;
  }
  .attribution {
    display: none;
  }
}
